apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tms-app

resources:
  - ../../base
  - mysql-pvc.yaml
  - mysql-deployment.yaml
  - mysql-service.yaml
  - secrets.yaml
  - ingress.yaml
