apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: tms-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: khaledhawil/task-manager-frontend:15484888ff49080745de7a26ebd4a4db26aa1efa
          imagePullPolicy: Always
          ports:
            - containerPort: 80
