apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: frontend-pdb
  namespace: tms-app
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: frontend
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: auth-service-pdb
  namespace: tms-app
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: users-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: task-service-pdb
  namespace: tms-app
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: logout-service
